[submodule "submodules/giraf-component-lib"]
	path = submodules/giraf-component-lib
	url = http://git.giraf.cs.aau.dk/Giraf17-AndroidLibs/giraf-component-lib
[submodule "submodules/db-lib"]
	path = submodules/db-lib
	url = http://git.giraf.cs.aau.dk/Giraf17-AndroidLibs/db-lib
[submodule "submodules/meta-database-lib"]
	path = submodules/meta-database-lib
	url = http://git.giraf.cs.aau.dk/Giraf17-AndroidLibs/meta-database-lib
[submodule "submodules/showcaseview-lib"]
	path = submodules/showcaseview-lib
	url = http://git.giraf.cs.aau.dk/Giraf17-AndroidLibs/showcaseview-lib
[submodule "submodules/local-db"]
	path = submodules/local-db
	url = http://git.giraf.cs.aau.dk/Giraf/local-db
